@model uStoreMvcConversion.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div id="mainContent">
    <h2 class="text-center">@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>To gain access, simply enter an email (fake is okay). Currently, email confirmation is on the TODO list, for now we will simulate that process. So go ahead and create you account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label text-right" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label text-right" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label text-right" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-warning" value="Register" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
