@model IEnumerable<UStore.data1.EF.Category>

@{
    ViewBag.Title = "Index";
}

<div id="mainContent">

    <div class="col-md-12">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>